venv/
.env/
.venv/
env/
pip-log.txt
pip-delete-this-directory.txt

__pycache__/
*.py[cod]
*$py.class

Pipfile
Pipfile.lock
poetry.lock

.vscode/
.idea/
*.iml

*.log
*.tmp
*.swp
*.swo
*.DS_Store

htmlcov/
.coverage
.coverage.*
*.cover
.nosetests*
pytest_cache/
.tox/
.cache/

.ipynb_checkpoints/

*.db
*.pdf

task_*.html
practice_*.html